<div class="row">
  <div class="col-auto">
    <h2>Welcome, PoopMonster!!</h2>
  </div>
</div>

<section class="container">
  <a href='https://www.twitch.tv/pooopmonster/videos'>
  <img src="/assets/streamscreenshot.png" alt="PMSTREAM">
  </a>
</section>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

              <h2 class="fw-bold mb-2 text-uppercase">Accounts</h2>

              <div class="form-outline form-white mb-4">
                <label class="form-label">SteamID: Poop Monster</label>
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label">Battle.net: MizoreChan#1784</label>
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label">Twitch: PooopMonster</label>
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label">Email: pooopmonster987@gmail.com</label>
              </div>
    


          </div>
        </div>
      </div>
    </div>
  </div>
</section>