<section class="card mb-md-5 mt-md-4 pb-5 login-form">
  <a href="/merch/{{id}}">
    <header>{{itemName}}</header>
    <img src="/assets/{{imageURL}}" alt="{{description}}">
    <section class="flex-row justify-center">
    <ul>
        {{#each merchData as |item| }}
        {{>merch-partials}}
        {{/each}}
    </ul>
    </section>
  </a>
</section>
