<section class="card">
  <a href="/merch/{{id}}">
    <header>{{itemName}}</header>
    <img src="/images/{{filename}}" alt="{{description}}">
    <section class="flex-row justify-center">
    <ul>
        {{#each merchData as |item| }}
        {{>merch-partials}}
        {{/each}}
    </ul>
    </section>
  </a>
</section>
